<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @work.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @work.text %>
</p>


<%= link_to 'Back', contact_path %>
